<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "SRCocktail.png" %>
  <% end %>

  <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-info btn-lg" %>

</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path 'Bar.jpg' %>');">
  <div class="container">
    <h1>Susan's Cocktails </h1>
      <h2>Delicious drinks for adventurous people!</h2>
  </div>
  <div class="container-drinks">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'amaretto_sour.png' %>');">
          <div class="card-description">
          </div>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

