<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "SRCocktail.png" %>
  <% end %>

    <h1>Cocktailsium </h1>
      <h3>Handcrafted cocktails made with quality ingredients.</h3>


  <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-info btn-lg" %>

</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'Bar.jpg' %>');">

  <div class="container-drinks">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path 'amaretto_sour.png' %>');">
          <div class="card-description">
          </div>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="http://www.github.com/susan-renaud"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/susan_renaud/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/profile.php?id=1530420089"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/susanelizabethrenaud/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was coded with <i class="fas fa-heart"></i> by Susan Renaud
  </div>
</div>

